name: Build PWA

on:
  push:
    tags: ['v*']
  workflow_dispatch:

jobs:
  build:
    uses: xibo-players/.github/.github/workflows/build-pwa.yml@main
    with:
      install-command: 'pnpm install --no-frozen-lockfile'
