name: Publish to npm

on:
  push:
    tags: ['v*']
  workflow_dispatch:

jobs:
  publish:
    uses: xibo-players/.github/.github/workflows/publish-npm.yml@main
    secrets:
      npm-token: ${{ secrets.NPM_TOKEN }}
