name: Publish to npm

on:
  push:
    tags: ['v*']
  workflow_dispatch:

jobs:
  publish:
    uses: xibo-players/.github/.github/workflows/publish-npm.yml@main
    with:
      cache-deps: false
      install-command: 'pnpm install --no-frozen-lockfile && pnpm run build'
    secrets:
      npm-token: ${{ secrets.NPM_TOKEN }}
